# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# Database files
*.db
# Ignore everything from root except what we need
build/
cmd/
coverage.txt
data/
docker-compose.yml
Dockerfile
docs/
env.example
go.mod
internal/
keys/
LICENSE
Makefile
README.md
suppline
suppline.cloud/
test/
ui/
_config.yml
helm-deploy.sh
