API_KEY=dev-secret-key
ATTESTATION_KEY_PATH=./keys/cosign.key
ATTESTATION_KEY_PASSWORD=<password for cosign private key>
#SUPPLINE_CONFIG=daimoniac/suppline.yml
#LOG_LEVEL=debug
#TRIVY_SERVER_ADDR=localhost:4954
# Note: When running with docker-compose, SCANNER_SERVER_ADDR=trivy:4954 is used instead
#STATE_STORE_TYPE=sqlite
#SQLITE_PATH=./data/daimoniac/suppline.db
