SUPPLINE_URL=http://127.0.0.1:8080
EXCLUDED_NAMESPACES=kube-system,kube-public,kube-node-lease
LOG_LEVEL=debug
DEBUG_DUMP_PAYLOAD=true
SUPPLINE_API_KEY=<api-key>
#CLUSTER_NAME=$(kubectl config view --minify -o jsonpath='{.clusters[0].name}')
#IMAGE_STALE_AFTER=24h
#WATCH_HEARTBEAT_INTERVAL=60m
