apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: daimoniac/suppline

resources:
  - namespace.yaml
  - ui-configmap.yaml
  - ui-deployment.yaml
  - ui-service.yaml
  - ui-ingress.yaml

# Generate ConfigMap from static files
configMapGenerator:
  - name: daimoniac/suppline-ui-files
    files:
      - index.html=../../cmd/daimoniac/suppline-ui/web/index.html
      - css/main.css=../../cmd/daimoniac/suppline-ui/web/css/main.css
      - css/components.css=../../cmd/daimoniac/suppline-ui/web/css/components.css
      - js/main.js=../../cmd/daimoniac/suppline-ui/web/js/main.js
      - js/api.js=../../cmd/daimoniac/suppline-ui/web/js/api.js
      - js/auth.js=../../cmd/daimoniac/suppline-ui/web/js/auth.js
      - js/router.js=../../cmd/daimoniac/suppline-ui/web/js/router.js
    options:
      disableNameSuffixHash: true
