apiVersion: v1
kind: Service
metadata:
  name: suppline-ui
  namespace: suppline
  labels:
    app: suppline-ui
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: suppline-ui
