apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "suppline.fullname" . }}-config
  labels:
    {{- include "suppline.labels" . | nindent 4 }}
data:
  TRIVY_SERVER_ADDR: "localhost:4954"
  STATE_STORE_TYPE: "sqlite"
  SQLITE_PATH: "/data/suppline.db"
  SUPPLINE_CONFIG: "/config/suppline.yml"
  {{- if .Values.backend.env }}
  {{- tpl (toYaml .Values.backend.env) . | nindent 2 }}
  {{- end }}
  suppline.yml: |
{{ .Files.Get "suppline.yml" | indent 4 }}
