apiVersion: v1
kind: Secret
metadata:
  name: {{ include "suppline.fullname" . }}-secrets
  labels:
    {{- include "suppline.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.backend.secrets }}
  {{- tpl (toYaml .Values.backend.secrets) . | nindent 2 }}
  {{- end }}
