apiVersion: v1
kind: Secret
metadata:
  name: {{ include "suppline.fullname" . }}-secrets
  labels:
    {{- include "suppline.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.backend.apiKey }}
  API_KEY: {{ .Values.backend.apiKey }}
  {{- end }}
  {{- if .Values.backend.signingKey.password }}
  ATTESTATION_KEY_PASSWORD: {{ .Values.backend.signingKey.password }}
  {{- end }}
{{- if .Values.backend.signingKey.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "suppline.fullname" . }}-signing-key
  labels:
    {{- include "suppline.labels" . | nindent 4 }}
type: Opaque
data:
  cosign.key: {{ .Values.backend.signingKey.key }}
{{- end }}
