{{- if or .Values.backend.apiKey .Values.backend.attestationKey.password .Values.backend.attestationKey.key }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "suppline.fullname" . }}-secrets
  labels:
    {{- include "suppline.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.backend.apiKey }}
  API_KEY: {{ .Values.backend.apiKey }}
  {{- end }}
  {{- if .Values.backend.attestationKey.password }}
  ATTESTATION_KEY_PASSWORD: {{ .Values.backend.attestationKey.password }}
  {{- end }}
  {{- if .Values.backend.attestationKey.key }}
  ATTESTATION_KEY: {{ .Values.backend.attestationKey.key }}
  {{- end }}
{{- end }}
